body, html {
      height: auto;
      margin:auto;
      left:0;
      right:0;
      width:max-contents;
      font-family: Roboto;
      font-size: 14px;
      color: #414141;
      line-height: 1.3333;
}
@font-face {
    font-family: 'Roboto';
    src:url('../fonts/Roboto/Roboto-Regular.eot') format('embedded-opentype'), 
        url('../fonts/Roboto/Roboto-Regular.woff') format('woff'), 
        url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype'), 
        url('../fonts/Roboto/Roboto-Regular.svg') format('svg');
    font-weight: normal;
}
.header{
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position: center;
    left:0px;
    right:0px;
}
.header-account{
    margin-top: -80px;
    margin-right: 200px;
    float:right;
}
.bannerIcon{
    border-radius:50%;
    margin-left: 121px;
    margin-top: 19px;
}

table{
    margin-left: 200px;
    margin-top: -70px;
    margin-bottom: 10px;
}
.titleName{
    font-style: normal; 
    font-weight: bold; 
    font-size: 20px; 
    line-height: 23px;
    font-family: Roboto;
    color: #CB7300;
}
.webName{
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #903938;
  font-family: Roboto;
}
.homebtn{
  background-color: #CB7300;
  width: auto;
  height: 46px;
}
.SignButton{
    position: relative;
    width:150%;
    height: 50%;
    margin-top:30px;
    padding-left:30%;
    
}
.button1{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 1px solid #CB7300;
    cursor:pointer;
    overflow: hidden;
    border-radius: 4px;
    padding:10px 20px 10px;
    display: inline;
    text-align: center;
    display:inline;
    margin-left:10px;
}
.button2{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 1px solid #CB7300;
    cursor:pointer;
    overflow: hidden;
    border-radius: 4px;
    padding:10px 25px 10px ;
    text-align: center;
    display:inline;
    margin-left:10px;


}

.button1:hover{
   background-color:#CB7300;
}
.button2:hover{
  background-color:#CB7300;
}
.SignButton a{
    color: black;
    text-decoration: none;
    font-style: bold;
    font-family: "Roboto",Arial;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.8751px;


}
.icon1{
    max-width: 25px;
    height: auto;
    padding:5px 5px 0;
}
.header-navbar{
  font-family: "Roboto",Arial;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
}
.hero-banner
{
    background-image: url('../img/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border:1px solid black;
    width: 100%;
    height:auto;
    padding-bottom:20%;
}

.hero-banner .hero-text p{
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 500;
    line-height: 46px;
    display: block;
    color: #903938;
    text-align: center;

}
.hero-text p{
     font-family: "Roboto",Arial;
}
.actions{
    text-align: center;
    width: 100%;
    height: auto;

}
.btn2nd{
    font-family:"Roboto",Arial;
    background: #903938;
    color: #fff;
    border-color: #903938;
    /* width: 350px; */
    padding: 20px 60px;
    height: auto;
    font-size: 16px;
    margin: 0px 5px;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 4px;
    display:inline-block;

}

.btn1st{
  font-family: "Roboto",arial;
  background: #CB7300;
  color: #fff;
  border-color: #CB7300;
  /* width: 350px; */
  padding: 20px 40px;
  height: auto;
  font-size: 16px;
  margin: 0px 5px;
  text-decoration: none;
  border-radius: 4px;
  display: inline-block;

}
.imgcontainer{
  position: relative;
  margin-top:121px;
  margin-bottom:-18%;
}
.imgcontainer img{
  width:75%;
  margin-left:164px;
}
.btn1st:hover{
   background-color:#D79175;
}
footer{
  position:relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #903938;
  color: white;
  float: left;
}
*{
  box-sizing: border-box;
}
.column1{
      float: left;
      width: 53%;
      height: auto;
      padding: 3px 40px 5px;
      margin-left:120px;
      background-color: #903938;
      color:white;
      font-style: bold;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
}
.column2{
  float: right;
  width: 33%;
  height: auto;
  background-color: #903938;
  color:white;
  padding: 3px 0px 5px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.thick{
   font-family: "Roboto",Arial;
   font-size: 14;
   font-weight: 500;
   line-height: 18.662px;
}
.box-stats{
  float: left;
}
#total-number{
    float:right;
    margin-right:40%;
    margin-top:-18px;
    font-family: monospace;
}
#total-number span{
  box-sizing: border-box;
  border: none;
  padding:3px;
  background-color:#9B4D4C ;

}

.txt{
  font-family: "Roboto",Arial;
  font-size: 14px;
  font-weight: 18.662px;
}
